*{
	font-family :"trebuchet ms",georgia, georgian, "times new roman";
}
a:active{
	background-color: rgb(163,200,145);
}
a:visited
{
	color : #AAA;
}
a:hover
{
	color:green;
	font-style:normal;
}
a


p{
	text-align:justify;
}

nav
{
	display:inline-block;
	width:200px;
	
	vertical-align:top;
}
section
{
	display:inline-block;
	
	vertical-align:top;
	width:99%;
	text-align:justify;
	padding-left:5px;
	padding-right:5px;
}


